/* Exercice 01 */
nav li:nth-child(2) {
  margin: 0 20px;
}

/* Exercice 02 */
.exercice02 blockquote::first-letter {
  color: red;
  font-size: 3.125rem;
}

/* Exercice 03 */
.exercice03 blockquote::first-line {
  color: red;
  font-weight: bold;
}

/* Exercice 04 */
.exercice04 p:last-child {
  color: red;
}

/* Exercice 05 */
a[href^="https://"]::after{
  content: 'open_in_new';
  display: inline-block;
  font-family: 'Material Symbols Outlined';
  font-size: 0.875rem;
  line-height: 1;
  margin-left: 5px;
}

/* Exercice 06 */
.exercice06 li:nth-child(2n){
  background-color: red;
}

/* Exercice 07 */
.exercice07 li:nth-child(2n+1){
  background-color: red;
}

/* Exercice 08 */
.exercice08 li:nth-child(-n+3){
  background-color: red;
}

/* Exercice 09 */
.exercice09 li:nth-child(99){
  background-color: red;
}
/* Exercice 10 */
.exercice10 li:nth-child(n+14):nth-child(-n+23){
  background-color: red;
}

/* Exercice 11 */
.exercice11 ul{
  border: 3px solid red;
}

/* Exercice 12 */
.exercice12 > ul:hover{
  border: 3px solid red;
}

/* Exercice 13 */
.exercice13 [src$=".jpg"]{
  border: 3px solid red;
}

/* Exercice 14 */
a:hover{
  background-color: #BF2A2A;
  border-bottom: 3px black;
  color: black;
}
/* Exercice 15 */
h2::selection{
  background-color: black;
  color: white
}

p::selection{
  background-color: gray;
  color: white;
}

/* Exercice 16 */
.exercice16 :not(:lang(fr)){
  color: red;
}
/* Exercice 17 */
label:checked{
  color: red;
}

/* Exercice 18 */

/*-------------------------------------------
-
-   Ne rien modifier dans le CSS qui suit
-
-
---------------------------------------------*/

/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
  background-color: white;
  color: black;
  font-size: 1rem;
}

ol {
  display: flex;
  flex-wrap: wrap;

  max-width: 912px;

  color: #fff;
  font:
    1em arial,
    sans-serif;

  list-style: none;

  margin: 30px auto 0;
  padding: 10px 0 10px 10px;

  border: 1px dashed #999;
  border-radius: 10px;
}

ol li {
  text-align: center;
  font-weight: bold;

  background: #666;
  padding: 1%;

  width: 80px;
  height: 32px;

  margin: 0 10px 10px 0;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/*------------------- Navigation --------------------*/

nav {
  background-color: #d9ca9c;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;

  list-style: none;

  margin: 0;
  padding: 0;
}

nav li a {
  background-color: #640101;
  border-bottom: 3px solid transparent;
  color: #7ab8bf;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
}

/*------------------- Entête --------------------*/

header {
  background: #bf2a2a;
  padding: 63px 0;
}

header h1 {
  font:
    700 5rem "Lato",
    sans-serif;
  color: #f2f2f2;
  letter-spacing: 0.1em;
  margin: 0;
  text-align: center;
}
header h1.hide {
  display: none;
}

/*------------------- Section --------------------*/

section {
  margin-top: 60px;
}

section {
  margin-bottom: 80px;
  overflow: auto;
}

/*------------------- Pied de page --------------------*/

footer {
  background-color: #bf2a2a;
  padding: 10px 0;
}

.exercice13 img {
  width: 200px;
  height: 140px;
}
